/* Cascading Style Sheet */
/* CSS Selector => Class(.name) , Id(#name) , Tag(Tagname) */

/* 클래스만들기 */

.header { 
    font-size: 16px;
     color: blue;
     letter-spacing: 2px;
     text-align: center;
}

.profile {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }  

.content {
    text-align: center;
}

.box {
    width: 300px;
    background-color: rgb(55, 43, 168);
    margin: 10px;
    padding-bottom: 10px;
    border: 2px solid black;
    border-radius: 15px;
    /* display: block; 생략가능 <div>,<p>,<h> 기본 내제 */
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: white;
    /* x(+,-) ,y(+,-) , blur , blur-spread , color */
    box-shadow: 1px 1px 10px 5px darkorchid;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.left-menu {
    width: 70%;
    height: 200px;
    background-color: white;
    float: left;
}
.left-top {
    width: 10%;
    height: 50px;
    float: left;
}
.right-top1 {
    width: 90%;
    height: 10px;
    float: left;
}
.right-top2 {
    width: 90%;
    height: 25px;
    font-size: 10px;
    float: left;
}

.middle {
    width: auto;
    height: auto;
    padding-left: 5px;
    float: left;
}

.bottom {
    width: auto;
    height: 100px;
    padding: 5px;
    float: left;
}

.right-menu {
    width: 30%;
    height: 200px;
    background-color:coral ;
    float: left;
    /* vertical-align(상하정렬) (inline 또는 inline-block속성에만 사용가능 */
}


/* selector문법 : 공백-모든자식 , '>'-직계자식  */
.navbar {
    list-style-type: none;
    /* text-align: center; */
    position: relative;
    left: 350px;
}
.navbar li{
    display: inline-block;
    width: 60px;
    text-align: center;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

