div{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/* table은 기본적으로 틈이존재 */
/* display:inline : 항상 옆으로 채워지는 폭과 너비가 없는 요소 */

table, tr, td{
    border-collapse:collapse;
    padding:5px;
    text-align:center;
}
img{
    width: 20%;
    float: left;
}
.outer-box {
    background-color: aquamarine;
    width: 700px;
    height: 500px;
    margin: auto;
}
.table {
    background-color: white;
    color: blue;
    position: relative;
    top:50px;
    margin: auto;
    border-radius: 5px;
    width: 500px;
}
.line {
    border-bottom: 1px solid blueviolet;
}
/* '.클래스명' '적용할클래스명':nth-child(n) */
/* '.클래스명'에 있는 n번째 '적용할클래스명'에 적용  */
.table td:nth-child(1){
    width: 300px;
}
.r2r3_h4 {
    font-size: 14px;
    margin: 4px;
    text-align: left; 
}
.r2r3_p {
    font-size: 10px;
    margin: 4px;
    text-align: left;
}
.btn {
    text-decoration: underline;
    color: white;
    float : right;
    background-color: blue;
    padding: 10px;
    border-radius: 3px;
    font-size: small;
    position: relative;
    right: 100px;
    top: 20px;
    text-decoration: none;
    cursor:pointer;
}
/* 순서 중요 hofa로 외우자 */
/* 버튼 반응 - 위에있을때 누를때 눌렀을때 */
.btn:hover{
    background-color: chocolate;
}
.btn:focus{
    background-color: grey;
}
.btn:active{
    background-color: brown;
    border: 2px solid brown;
}

.move_txt{
    position: relative;
    left: 100px;
    top: 60px
}

