div{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.main-back {
    width: 100%;
    height: 500px;
    background-image: url(../img/shoes.jpg);
    /* cover : 짤려도되니 div박스채워라
       container : div박스 다안채워도되니 짜르지마라. */
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(80%); /* 글씨에도 필터적용됌 주의 */
    padding: 1px;

}
.main-title {
    color: white;
    font-size: 40px;
    /* margin collapse(박스의 테두리가 겹칠때)현상 염두 */
    margin-top: 100px;
    text-align: center;
}

.main-content {
    color: white;
    text-align: center;
    font-size: 18px;
}

.main-btn {
    border: 2px solid purple;
    border-radius: 20px; 
    width: 200px;
    height: 75px;
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: auto;
    position: relative;
    top: 50px;
}

/* 반응형 웹을 쓸때 '%'를 자주씀 */
/* PC에서는 너무커지니까 max-width를 사용하여 최대폭 설정 */
.sub-back {
    width: 80%;
    max-width: 800px;
    height: 200px;
    background-color: gray;
    opacity: 0.9;
    margin: auto;
    position: relative;
    bottom: 65px;
    border: 2px solid darkorchid;
    border-radius: 15px;
    /* z-index : '떠있는'개체 중 누가 위로오게하는지 정하는 것.높을수록 우선. */
    z-index: 5;
    /* padding, margin 값 포함하는 사이즈. */
    box-sizing: border-box;
}
.sub-content {
    font-size: 18px;
    text-align: center;
}