.alt-box {
    background-color: skyblue;
    padding: 10px;
    color: white;
    border-radius: 5px;
    display: none;
    width: 100%;
    height: 50px;
}

.button {
    position: relative;
    top: 30%;
    border: none;
    float: right;
    background-color: skyblue;
    font-size: 20px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    padding: 30px;
    /* 애니메이션 만들때 display:none대용 */
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}
.show-modal{
    visibility: visible;
    opacity: 1;
}
.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}

.list-group {
    display: none;
}

.show {
    display: block;
}